<footer class="footer" style="background: #9cbbdf;">
  <div class="container-fluid">
    <nav>
      <a class="text-danger" href="about-us">
        О нас
      </a>
    </nav>
    <div class="copyright">
      &copy; 2019, Создано студентами
      <a class="text-danger" href="https://www.cs.vsu.ru" target="_blank">факультета компьютерных наук </a>
      <a class="text-danger" href="http://www.vsu.ru" target="_blank">Воронежского Государственного Университета</a>.
    </div>
  </div>
</footer>

