<div class="panel-header panel-header-sm" style="background: #f96332;">
</div>
<div class="main-content" style="background: rgb(211, 233, 237);">
  <div class="row justify-content-center align-items-center">
	<div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Главная страница</h4>
        </div>
        <div class="card-body">
          <div class="row justify-content-center align-items-center">
			  <div class="col-md-12">
					<div class="form-group">
					Веб-приложение GitHubHelper предназначено для упрощения жизни пользователей GitHub.
					С ним вы сможете отслеживать изменения в интересующих вас репозиториях,
					а также получать уведомления о новом commit-е,
					с помощью уведомлений, отправляемых вам нашим ботом(@GitHubHelperTgBot).
					</div>
			  </div>
          </div>
		  <div class="row justify-content-center align-items-center">
				<div class="col-md-12">
					<div class="form-group">
						<p>Войти через GitHub</p>
						<a href="{{githubUrl}}" class="login__btn login__btn--full" style="text-align: center;" md-raised-button="primary"> Войти </a>
				  </div>
				</div>
            </div>
        </div>
      </div>
    </div>
	<div class="col-md-2"></div>
  </div>
</div>
