
<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href=""><h5>GitHubHelper</h5></a>
        </li>
        <li class="nav-item text-right" *ngIf="isAuth() == true" ngbDropdown>
          <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
            <i class="now-ui-icons users_single-02"></i>
            <p>
              <span class="d-lg-none d-md-block"> {{account}}</span>
            </p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="dropdown-item" href="authorization">Войти</a>
          </div>
        </li>
        <li class="nav-item" *ngIf="isAuth() == false" ngbDropdown>
          <a class="nav-link" id="dropdownBasic2" ngbDropdownToggle>
            <i class="now-ui-icons users_single-02"></i>
            <p>
              <span class="d-lg-none d-md-block"> {{account}}</span>
            </p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <a class="dropdown-item" href="user">Моя страница</a>
            <a class="dropdown-item" (click)="exit()">Выйти</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
